* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header {
  width: 100%;
  min-width: 280px;
  background: linear-gradient(235deg, white 16.69%, wheat 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0 3px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.logo h1 {
  font-size: 3.4rem;
  text-align: center;
  color: #5a3030db;
  padding-left: 5px;
  font-family: "Acme", sans-serif;
}

.logo span > img {
  width: 50px;
  margin: 5px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
nav li {
  list-style: none;
  margin: 3px;
}
nav li a {
  color: rgba(107, 70, 70, 0.62);
  font-family: "Acme", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 38px;
  font-size: 1.6rem;
  background-color: white;
  height: auto;
  width: 100%;
  min-width: 280px;
  font-family: Arial, Helvetica, sans-serif;
}
main .portada picture {
  width: 100%;
}
main .portada picture img {
  width: 100%;
}

.articulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
}

.caja--detalles {
  width: 170px;
  text-align: left;
  margin-top: 10px;
  font-family: "Acme", sans-serif;
  margin-bottom: 24px;
  height: 70px;
}

.boton-info {
  border: none;
  background-color: #030c04;
  color: #ffffff;
  width: 119px;
  line-height: 2rem;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.3);
          box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.3);
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
}

.articulos article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  margin-left: 10px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 260px;
  min-height: 280px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.3);
          box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.3);
  scroll-snap-align: center;
  border-radius: 10px;
}

.articulos__container li {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #666;
  font-size: 1.4rem;
  list-style: none;
}

.caja__imagen img {
  height: 240px;
  padding-top: auto;
}

.caja h3 {
  text-align: center;
  color: #262626;
  font-family: "Acme", sans-serif;
}

aside {
  background: -webkit-gradient(linear, right top, left top, color-stop(16.69%, #714c4b), to(wheat));
  background: linear-gradient(270deg, #714c4b 16.69%, wheat 100%);
  height: auto;
  width: 100%;
  min-height: 30px;
  color: white;
  font-size: 1.6rem;
  min-width: 280px;
  text-align: center;
}

footer {
  padding-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eee7e7;
  width: 100%;
  height: 80px;
  font-size: 1.6rem;
  color: white;
  min-width: 280px;
  -webkit-box-shadow: black;
          box-shadow: black;
}

.boton-llamar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 130px;
  background-color: #5a3030db;
  border-radius: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.8rem;
}
.boton-llamar p {
  color: white;
  font-family: "Acme", sans-serif;
}

.icono-llamada {
  height: 25px;
}

.boton-wsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 170px;
  background-color: #fdfdfd;
  border-radius: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.8rem;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.3);
          box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.3);
}
.boton-wsp p {
  color: #00d100;
  font-family: "Acme", sans-serif;
  text-align: center;
}
.boton-wsp .icono-wsp {
  width: 57px;
}

.boton-facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 170px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.8rem;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.3);
          box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.3);
}
.boton-facebook p {
  color: black;
  font-family: "Acme", sans-serif;
  text-align: center;
}
.boton-facebook .icono-facebook {
  width: 47px;
}

.flotante-wsp {
  position: fixed;
  top: 40vh;
  left: 5px;
}
.flotante-wsp .icono-flotante {
  width: 40px;
}