nav li {
  margin: 0px 20px;
}

main {
  min-width: 336px;
  width: 100%;
  height: auto;
}
main .portada {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
main .articulos__roperos {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 38px;
}
main .articulos__artefactos {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
main .articulos__varios {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
main .articulos__otros {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

aside {
  height: auto;
  width: 30%;
  min-width: auto;
  margin-top: 79px;
}

footer a {
  color: white;
  text-decoration: none;
}