nav li {
    
margin: 20px;

    }
    

main {
    min-width: 336px;
    width: 70%;
    height: auto;
    .portada{
        order: 2;
    }
    .articulos__roperos {
        order: 1;
        margin-top: 36px;
    }
    .articulos__artefactos {
        order: 3;
    }
    .articulos__varios{
        order: 4;
    }
    .articulos__otros{
        order: 5;
    }
}
aside {
    height: auto;
    width: 30%;
    min-width: auto;
    margin-top: 106px;
}
footer a {
    color: white;
    text-decoration: none;
}