extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section(id="articulos")
				//+card("CASACA DE CUERO","S/.130.00","CASACA DE CUERO.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22CASACA%20DE%20CUERO%22,%20necesito%20m%C3%A1s%20detalles.","- CUERO FINAMENTE TRABAJADO","- DISEﾃ前 ITALIANO","- CREMALLERAS DURABLES","- TALLAS VARIADAS")
				+card("TAPER VIDRIO PIREX","S/9.00","taper circular.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22TAPER%20VIDRIO%20PIREX%20620ML%20CIRCULAR%20VERDE%22,%20necesito%20m%C3%A1s%20detalles.","- APTO PARA MICROONDAS","- VIDRIO PIREX","- CAPACIDAD 620ML")
				+card("TAPER 100% PIREX REFRACTARIO","1.5Lt S/.27.00 - 1Lt S/23.00","taper pirex.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22TAPER%20RECTANGULAR%20PIREX%20REFRACTARIO%201.5Lt%20y%201Lt%22,%20necesito%20m%C3%A1s%20detalles.","- APTO PARA MICROONDAS","- CRISTAL DE BOROSILICATO","- CAP: 1.5 Litros y 1 Litro","- 100% ALTA CALIDAD")
				+card("FRASCO ORGANIZADOR DE LOZA","S/.23.00","azucarero limon.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22FRASCO%20ORGANIZADOR%20DE%20LOZA%20LIMON,%20TOMATE%20y%20PALTA%22,%20necesito%20m%C3%A1s%20detalles.","- PARA AZUCAR, SAL U OTRO","- TRES MODELOS","- CAPACIDAD: 3/4 KILO","- INCLUYE CUCHARA DE LOZA")
				+card("JARRITA PIREX SUPER UTILITARIA","S/.18.00","cafetera vidrio.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22JARRITA%20PIREX%20SUPER%20UTILITARIA%20DE%20700ML%20FILTRO%20INOX%22,%20necesito%20m%C3%A1s%20detalles.","- CAPACIDAD 700 ML","- PARA CAFE, ANIS, HOJAS DE COCA, OREGANO U OTROS","- FITRO DURABLE DE ACERO INOXIDABLE","- EL TAMAﾃ前 MAS VENDIDO")
				+card("CAFETERA ITALIANA ACERO INOXIDABLE","S/.57.00","CAFETERA ITALIANA.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22CAFETERA%20ITALIANA%20ACERO%20INOXIDABLE%2012%20TAZAS%22,%20necesito%20m%C3%A1s%20detalles.","- CAPACIDAD 12 TAZAS","- PARA CAFE GRANULADO","- ELEGANTE Y DURABLE","- TAMAﾃ前 FAMILIAR")
				+card("MINI BILLAR PARA NIﾃ前S","S/.97.00","MIni-Billar.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22MINI%20BILLAR%20PARA%20NI%C3%91OS%22,%20necesito%20m%C3%A1s%20detalles.","- MODELO PROFESIONAL MINI ","- BOLAS DURABLES","- TACOS DE MADERA","- MEDIDA 69CM X 37CM")
				+card("JUEGO DE TE CON PEDESTAL GRANDE","S/.65.00","set-grande-Taza.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22JUEGO%20DE%20TE%20CON%20PEDESTAL%20GRANDE%22,%20necesito%20m%C3%A1s%20detalles.","- MATERIAL: LOSA","- 6 PLATILLOS Y TAZAS","- 1 TETERA 1 LITRO","- PEDESTAL INCLUIDO")
				+card("JUEGO DE TE CON PEDESTAL MEDIANO","S/.55.00","set-te-mediano.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22JUEGO%20DE%20TE%20CON%20PEDESTAL%20MEDIANO%22,%20necesito%20m%C3%A1s%20detalles.","- MATERIAL: LOSA","- 6 PLATILLOS Y TAZAS","- 1 TETERA 0.5 LITROS","- PEDESTAL INCLUIDO")
				
				
				
			section.banner
				.banner__container
	 
