extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section(id="articulos")
				+card("Mini Billar de Madera","Delivery GRATIS!","MIni-Billar.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Mini%20Billar%20de%20Madera%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Cuchilla De Licuadora Oster","15.00","cuchilla-oster.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Cuchilla%20De%20Licuadora%20Oster%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Juego de Te de Losa Grande","59.00","set-grande-Taza.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Juego%20de%20Te%20de%20Losa%20Grande%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Juego de Te de Losa","49.00","set-te-mediano.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Juego%20de%20Te%20de%20Losa%22,%20necesito%20m%C3%A1s%20detalles.")
				
				
				
			section.banner
				.banner__container
	 
