extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section(id="articulos")
				+card("CASACA DE CUERO","S/.130.00","CASACA DE CUERO.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22CASACA%20DE%20CUERO%22,%20necesito%20m%C3%A1s%20detalles.","- CUERO FINAMENTE TRABAJADO","- DISEÑO ITALIANO","- CREMALLERAS DURABLES","- TALLAS VARIADAS")
				+card("MINI BILLAR PARA NIÑOS","S/.97.00","MIni-Billar.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22MINI%20BILLAR%20PARA%20NI%C3%91OS%22,%20necesito%20m%C3%A1s%20detalles.","- MODELO PROFESIONAL MINI ","- BOLAS DURABLES","- TACOS DE MADERA","- MEDIDA 69CM X 37CM")
				+card("JUEGO DE TE CON PEDESTAL GRANDE","S/.59.00","set-grande-Taza.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22JUEGO%20DE%20TE%20CON%20PEDESTAL%20GRANDE%22,%20necesito%20m%C3%A1s%20detalles.","- MATERIAL: LOSA","- 6 PLATILLOS Y TAZAS","- 1 TETERA 1 LITRO","- PEDESTAL INCLUIDO")
				+card("JUEGO DE TE CON PEDESTAL MEDIANO","S/.49.00","set-te-mediano.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22JUEGO%20DE%20TE%20CON%20PEDESTAL%20MEDIANO%22,%20necesito%20m%C3%A1s%20detalles.","- MATERIAL: LOSA","- 6 PLATILLOS Y TAZAS","- 1 TETERA 0.5 LITROS","- PEDESTAL INCLUIDO")
				
				
				
			section.banner
				.banner__container
	 
