extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section(id="articulos")
				+card("Juego de Ollas Aluminio 4 Piezas","20% de Descuento","Brunido-Grande-x4.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Juego%20de%20Ollas%20Aluminio%204%20Piezas%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Juego de Ollas Acero","s/.240.00","Acero-Vidrio-X5.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Juego%20de%20Ollas%20Acero%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Juego de Ollas Acero Tapa de Vidrio","s/.160.00","Acero-Solido-X5.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Juego%20de%20Ollas%20Acero%20Tapa%20de%20Vidrio%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Olla A Presión Clock","s/.165.00","ollaclock.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Olla%20A%20Presi%C3%B3n%20Clock%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Tetera Acero Quirúrgico 3 Litros","s/.110.00","tetera-euro-reloj.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Tetera%20Acero%20Quir%C3%BArgico%203%20Litros%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Tetera Record Anodizado","s/.120.00","Tetera-Record-Anodizado.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Tetera%20Record%20Anodizado%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Tetera Anti-Sarro","s/.65.00","Tetera-Teflon.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Tetera%20Anti-Sarro%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Olla A Presión Universal","Delivery GRATIS!","olla-universal.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Olla%20A%20Presi%C3%B3n%20Universal%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Olla A Presión Record","Delivery GRATIS!","Olla-Presion-Record.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Olla%20A%20Presi%C3%B3n%20Record%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Sartén Antiadherente Facusa","s/.25.00","sarten-facusa.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Sart%C3%A9n%20Antiadherente%20Facusa%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Juego de Ollas Aluminio Recta","Delivery GRATIS!","olla-lijado-x7.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Juego%20de%20Ollas%20Aluminio%20Recta%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Juego de Ollas Aluminio Bombi","Delivery GRATIS!","Juego-alumino-bombi.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Juego%20de%20Ollas%20Aluminio%20Bombi%22,%20necesito%20m%C3%A1s%20detalles.")
				
			section.banner
				.banner__container
	 
