mixin caja(imagen, titulo, descripcion)
		.caja
			.caja__imagen: img(src="./images/"+imagen, alt="Ropero esquinero")
			.caja__atributos
			h3=titulo
			p=descripcion
head 
	meta(charset="UTF-6")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title Maxi Cusco
	link(rel="stylesheet", href="./style.css")