extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section(id="articulos")
				+card("COCINA ELECTRICA 1 HORNILLA","S/.47.00","COCINA 1 HORNILLA.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22COCINA%20ELECTRICA%201%20HORNILLA%22,%20necesito%20m%C3%A1s%20detalles.","- 1 PLANCHA RESISTENTE","- 5 NIVELES TEMPERATURA ","- ACABADO DE PRIMERA","- CABLE VULCANIZADO")
				+card("COCINA ELECTRICA 2 HORNILLAS","S/.83.00","cocina 2 hornillas.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22COCINA%20ELECTRICA%202%20HORNILLAS%22,%20necesito%20m%C3%A1s%20detalles.","- 2 PLANCHAS RESISTENTES","- 5 NIVELES TEMPERATURA ","- ACABADO DE PRIMERA","- CABLE VULCANIZADO")
				+card("EXTRACTOR OSTER 2 EN 1","S/.249.00","EXTRACTOR 2 EN 1.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22EXTRACTOR%20OSTER%202%20EN%201%22,%20necesito%20m%C3%A1s%20detalles.","- ACCESORIO PARA USAR COMO LICUADORA","- 1 AÑO DE GARANTIA","- BLOQUEO DE SEGURIDAD","- CABLE VULCANIZADO")
				+card("CAFETERA OSTER 4 TAZAS","S/.119.00","CAFETERA OSTER 4 TAZAS.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22CAFETERA%20OSTER%204%20TAZAS%22,%20necesito%20m%C3%A1s%20detalles.","- DISEÑO ELEGANTE","- FILTRADO POR GOTEO","- 1 AÑO DE GARANTIA","- 4 TAZAS DE CAPACIDAD")
				+card("EXTRACTOR OSTER 600WATT (FRUTA ENTERA)","S/.395.00","Extractor-Oster-600W.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22EXTRACTOR%20OSTER%20600WATT%20(FRUTA%20ENTERA)%22,%20necesito%20m%C3%A1s%20detalles.","- 1 AÑO DE GARANTIA","- MOTOR MODERNO ","- BLOQUEO DE SEGURIDAD","- DOS VELOCIDADES")
				+card("LICUADORA OSTER MAS DURABLE 700WATT","S/.389.00","licuadora-Oster-3V-700W.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22LICUADORA%20OSTER%20MAS%20DURABLE%20700WATT%22,%20necesito%20m%C3%A1s%20detalles.","- 1 AÑO DE GARANTIA","- 6 VECES MAS DURADERO","- IDEAL PARA NEGOCIOS","- 3 VELOCIDADES PICAHIELO")
				+card("LICUADORA JHUMY 600WATT (MARCA-PERUANA)","S/270.00","licuadora-jhumy.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22LICUADORA%20JHUMY%20600WATT%20(MARCA-PERUANA)%22,%20necesito%20m%C3%A1s%20detalles.","- 1 AÑO DE GARANTIA","- POTENTE MOTOR","- IDEAL PARA NEGOCIOS","- 3 VELOCIDADES PICAHIELO")
				+card("LICUADORA OSTER 450WATT (BOTONES)","S/.220.00","licuadora-Oster-boton-Rojo.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22LICUADORA%20OSTER%20450WATT%20(BOTONES)%22,%20necesito%20m%C3%A1s%20detalles.","- 1 AÑO DE GARANTIA","- POTENTE MOTOR","- USO DOMESTICO","- 2 VELOCIDADES PICAHIELO")
				+card("HERVIDOR DE ACERO INOXIDABLE (2-LITROS)","S/.33.00","hervidor-scarlett-2.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22HERVIDOR%20DE%20ACERO%20INOXIDABLE%20(2-LITROS)%22,%20necesito%20m%C3%A1s%20detalles.","- APAGADO AUTOMATICO","- EL MAS VENDIDO")
				+card("LICUADORA OSTER PROFESIONAL 700WATT","PROFESIONAL S/415.00","licuadora-Oster-PRO-700W.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22LICUADORA%20OSTER%20PROFESIONAL%20700WATT%22,%20necesito%20m%C3%A1s%20detalles.","- 1 AÑO DE GARANTIA","- MOTOR REFORZADO","- IDEAL PARA NEGOCIOS","- 2 VELOCIDADES PICAHIELO")
				+card("PLANCHA OSTER CON GOLPE DE VAPOR","S/.98.00","Plancha-Oster5954 HORIZONTAL.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22PLANCHA%20OSTER%20CON%20GOLPE%20DE%20VAPOR%22,%20necesito%20m%C3%A1s%20detalles.","- 1 AÑO DE GARANTIA","- BASE DE CERAMICA","- ROCEADOR DE AGUA","- SISTEMA INTERIOR ANTICAL")
				+card("EXTRACTOR OSTER PEQUEÑO (FRUTA-PARTIDA)","S/.229.00","20210927_123454.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22EXTRACTOR%20OSTER%20PEQUE%C3%91O%20(FRUTA-PARTIDA)%22,%20necesito%20m%C3%A1s%20detalles.","- 1 AÑO DE GARANTIA","- MOTOR DE 450WATT","- USO DOMESTICO","- 2 VELOCIDADES")
				+card("FREIDORA DE AIRE OSTER (CAPACIDAD-1.8LITROS)","ULTIMAS UNIDADES S/.219.00","20210927_105424.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22FREIDORA%20DE%20AIRE%20OSTER%20(CAPACIDAD-1.8LITROS)%22,%20necesito%20m%C3%A1s%20detalles.","- 1 AÑO DE GARANTIA","- USA 99.5% MENOS ACEITE","- PARA 1 A 2 PERSONAS","- COCINA 20% MAS RAPIDO")
				+card("EXTRACTOR FINEZZA GRANDE (FRUTA ENTERA)","EN STOCK S/.249.00","Extractor-finezza-grande.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22EXTRACTOR%20FINEZZA%20GRANDE%20(FRUTA%20ENTERA)%22,%20necesito%20m%C3%A1s%20detalles.","- GRAN POTENCIA 800WATT","- CUERPO ACERO INOXIDABLE","- 2 VELOCIDADES","- SISTEMA DE SEGURIDAD")
				+card("LICUADORA OSTER REVERSIBLE 700WATT","S/.410.00","licuadora-Oster-REVER-700W.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22LICUADORA%20OSTER%20REVERSIBLE%20700WATT%22,%20necesito%20m%C3%A1s%20detalles.","- GRAN POTENCIA 700WATT","- CUERPO ACERO INOXIDABLE","- 2 VELOCIDADES","- IDEAL PARA NEGOCIOS")
				+card("BATIDORA OSTER DE MANO Y PEDESTAL","S/.210.00","batidor-con-pocillo-oster.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22BATIDORA%20OSTER%20DE%20MANO%20Y%20PEDESTAL%22,%20necesito%20m%C3%A1s%20detalles.","- POTENCIA 240WATT","- POCILLO DE 3.7 LITROS","- 6 VELOCIDADES","- 1 AÑO DE GARANTIA")

				
			section.banner
				.banner__container
	 




					
		