
doctype html 
<html lang="es">
html 
	include configuraciones.pug
	body   
		header
			.logo
				h1 MaxiCusco.net
				span 
					img(src="./icons/LOGO_MAXI.png", alt="Logo MaxiCusco")
			nav
				ul 
					li 
						a(href="#roperos") Roperos
					li 
						a(href="#artefactos") Artefactos
					li 
						a(href="#varios") Varios
		main
			section.portada
				picture 
					source(media="(min-width:480px)", srcset="./images/otros/portada-grande.jpg")
					img(src="./images/otros/portada.jpg", alt="portada")
			section.articulos__roperos.articulos#roperos 
				article.articulos__container
					+caja('ropero-madera3.jpg', 'Ropero de Madera 3 Cuerpos')
					+detalle('- 170cm x 135cm x 45cm.','- Estructura de Madera')
					button.boton-info Mas Información
				article.articulos__container
					+caja('ropero-madera2.jpg','Ropero de Madera 2 Cuerpos')
					+detalle('- 170cm x 105cm x 45cm.','- Estructura de Madera')
					button.boton-info Mas Información
				article.articulos__container
					+caja('esquinero.jpg','Ropero Esquinero 4 Cuerpos')
					+detalle('- 170cm x 135cm x 45cm.','- 4 Cuerpos', '- Estructura de Metal en Forma de L') 
					button.boton-info Mas Información
				article.articulos__container
					+caja('roperometal135.jpg','Ropero 3 Cuerpos Grande')
					+detalle('- 175cm x 135cm x 45cm.','- Tubos Gruesos', '- Estructura de Metal')  
					button.boton-info Mas Información
				article.articulos__container
					+caja('roperometal120.jpg','Ropero 3 Cuerpos Mediano')
					+detalle('- 170cm x 120cm x 45cm.','- Solo 1 Colgador pero mas compartimentos', '- Estructura de Metal')  
					button.boton-info Mas Información
				article.articulos__container
					+caja('roperometal3c105.jpg','Ropero 3 Cuerpos Angosto')
					+detalle('- 170cm x 105cm x 45cm.','- El mas angosto de 3 cuerpos', '- Estructura de Metal')  
					button.boton-info Mas Información
				article.articulos__container
					+caja('roperometal2c.jpg','Ropero 2 Cuerpos')
					+detalle('- 170cm x 105cm x 45cm.','- Tamaño Standar', '- Estructura de Metal facil de armar')  
					button.boton-info Mas Información
				article.articulos__container
					+caja('zapatera9n2c.jpg','Zapatera 9 Niveles con Cajones')
					+detalle('- 168cm x 60cm x 45cm.','- Trae 2 Cajones en la parte inferior', '- Estructura de metal Fuerte')  
					button.boton-info Mas Información
				article.articulos__container
					+caja('zapatera7.jpg','Zapatera 7 Niveles')
					+detalle('- 128cm x 60cm x 45cm.','- Fácil de armar', '- Estructura de metal Fuerte')   
					button.boton-info Mas Información
				article.articulos__container
					+caja('zapatera5.jpg','Zapatera 5 Niveles')
					+detalle('- 90cm x 60cm x 45cm.','- El mas portátil.', '- Estructura de metal Fuerte')   
					button.boton-info Mas Información
			section.articulos__artefactos.articulos#artefactos 
				article.articulos__container
					+caja('esquinero.jpg', 'Ropero Esquinero')
					+detalle(DetalleRoperoEsquinero)
				article.articulos__container
					+caja('esquinero.jpg','Ropero Madera')
					+detalle(DetalleRoperoM2)
				article.articulos__container
					+caja('esquinero.jpg','Articulo 1','El producto es asi')
				article.articulos__container
					+caja('esquinero.jpg','Articulo 1','El producto es asi')
				article.articulos__container
					+caja('esquinero.jpg','Articulo 1','El producto es asi')
				article.articulos__container
					+caja('esquinero.jpg','Articulo 1','El producto es asi')
			section.articulos__varios.articulos#varios 
				article.articulos__container
					+caja('esquinero.jpg', 'Ropero Esquinero')
					+detalle(DetalleRoperoEsquinero)
				article.articulos__container
					+caja('esquinero.jpg','Ropero Madera')
					+detalle(DetalleRoperoM2)
				article.articulos__container
					+caja('esquinero.jpg','Articulo 1','El producto es asi')
				article.articulos__container
					+caja('esquinero.jpg','Articulo 1','El producto es asi')
				article.articulos__container
					+caja('esquinero.jpg','Articulo 1','El producto es asi')
				article.articulos__container
					+caja('esquinero.jpg','Articulo 1','El producto es asi')
			section.articulos__otros.articulos 
				article.articulos__container
					+caja('esquinero.jpg', 'Ropero Esquinero')
					+detalle(DetalleRoperoEsquinero)
				article.articulos__container
					+caja('esquinero.jpg','Ropero Madera')
					+detalle(DetalleRoperoM2)
				article.articulos__container
					+caja('esquinero.jpg','Articulo 1','El producto es asi')
				article.articulos__container
					+caja('esquinero.jpg','Articulo 1','El producto es asi')
				article.articulos__container
					+caja('esquinero.jpg','Articulo 1','El producto es asi')
				article.articulos__container
					+caja('esquinero.jpg','Articulo 1','El producto es asi')
		aside
			div 
				p Esta seccion es de novedades
		footer
			a(href="https://www.facebook.com/110318787411007").boton-facebook 
				p Maxi Cusco
				img.icono-facebook(src="./icons/enlace_facebook.png", alt="icono whatsapp").icono-telefono
			a(href="tel:993862663").boton-llamar 
				p Llamar
				img.icono-llamada(src="./icons/telefono.png?20210818", alt="icono telefono").icono-telefono
			a(href="https://wa.me/51993862663?text=%20Hola%20estoy%20interesado%20en%20uno%20de%20los%20productos%20de%20la%20tienda%20quisiera%20los%20precios").boton-wsp 
				p WhatsApp
				img.icono-wsp(src="./icons/Whatsapp.png", alt="icono whatsapp").icono-telefono
			a(href="https://wa.me/51993862663?text=%20Hola%20estoy%20interesado%20en%20uno%20de%20los%20productos%20de%20la%20tienda%20quisiera%20los%20precios").flotante-wsp 
				img.icono-flotante(src="./icons/Whatsapp.png", alt="icono whatsapp").icono-telefono
