extend pug-componentes/plantilla.pug
block contenidos
	body
		section.banner
		.banner__container
		section(id="articulos")
				+card("ROPERO CON ZAPATERA MADERA (2-COLGADORES)","ULTIMAS UNIDADES EN STOCK S/159.00","Rop con zapatera2.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ROPERO%20CON%20ZAPATERA%20MADERA%20(2-COLGADORES)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 190cm","-ANCHO 135cm","-PROFUNDIDAD 46cm")
				+card("ROPERO 4 CUERPOS MADERA (VARIOS-COLGADORES)","ULTIMAS UNIDADES EN STOCK S/159.00","ROPERO 4 CUERPOS.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ROPERO%204%20CUERPOS%20MADERA%20(VARIOS-COLGADORES)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 170cm","-ANCHO 170cm","-PROFUNDIDAD 50cm")
				//+card("ESTRUCTURA DE MADERA (1-COLGADOR)","ULTIMAS UNIDADES EN STOCK S/139.00","Rop-3C-Madera-MAS-PARRILLAS.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ESTRUCTURA%20DE%20MADERA%20(1-COLGADOR)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 170cm","-ANCHO 135cm","-PROFUNDIDAD 46cm")
				+card("ESTRUCTURA DE MADERA CON (2-COLGADORES)","EN STOCK S/139.00","ROPERO FLOREADO.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ESTRUCTURA%20DE%20MADERA%20(COLORES%20FLOREADOS%20BAQUITA%20MORADOS)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 170cm","-ANCHO 135cm","-PROFUNDIDAD 50cm")
				//+card("ESTRUCTURA DE MADERA (2-COLGADORES)","ULTIMAS UNIDADES EN STOCK S/139.00","ROP-MADERA-3-CUERPOS.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ESTRUCTURA%20DE%20MADERA%20(2-COLGADORES)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 170cm","-ANCHO 135cm","-PROFUNDIDAD 46cm")
				+card("ESTRUCTURA DE TUBOS METAL (2-CUERPOS)","EN STOCK S/.79.00","Rop-Tubos-2-Cuerpos.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ESTRUCTURA%20DE%20TUBOS%20METAL%20(2-CUERPOS)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 165cm","-ANCHO 105cm","-PROFUNDIDAD 45cm")
				//+card("ROPERO ESQUINERO","AGOTADO POR EL MOMENTO","Ropero-Esquinero-EST.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Ropero%20Esquinero%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 165cm","-ANCHO 130cm Y 90cm","-PROFUNDIDAD 45cm")				
				+card("ROPERO 2 COLGADORES METAL","EN STOCK S/.95.00","Ropero-tubos-3-cuerpos.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Ropero%202%20Colgadores%20Metal%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 175cm","-ANCHO 130cm","-PROFUNDIDAD 45cm")
				//+card("ROPERO MEDIANO TUBOS (3-CUERPOS)","AGOTADO POR EL MOMENTO","Ropero-Mediano-3-Cuerpos.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ROPERO%20MEDIANO%20TUBOS%20(3-CUERPOS)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 165cm","-ANCHO 120cm","-PROFUNDIDAD 45cm")
				+card("ROPERO ARMABLE TUBOS (4-COLGADORES)","ULTIMA UNIDAD S/.99.00","Rop-4-colgadores.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ROPERO%20ARMABLE%20TUBOS%20(4-COLGADORES)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 170cm","-ANCHO 135cm","-PROFUNDIDAD 45cm")
				+card("PUFF ARMABLE RESISTENTE","S/.15.00","CAJA TEXTIL.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22PUFF%20ARMABLE%20RESISTENTE%20(CAJA%20TEXTIL)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 30cm","-ANCHO 30cm","-PROFUNDIDAD 30cm")
				//+card("ZAPATERAS CON FUNDA DE: (9, 7 y 5 Niveles)","AGOTADO POR EL MOMENTO","Zapateras.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ZAPATERAS%20CON%20FUNDA%20DE:%20(9,%207%20y%205%20Niveles)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDAS:","-5 NIVELES PARA 15 PARES","-7 NIVELES PARA 21 PARES","-9 NIVELES PARA 27 PARES")
				+card("ZAPATERA CON PERCHERO","EN STOCK S/.75.00","PERCHERO ZAPATERA.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ZAPATERA%20CON%20PERCHERO%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 172cm","-ANCHO 80cm","-PROFUNDIDAD 26cm")
				+card("COLGADOR CON 2 PARRILLAS","EN STOCK S/.75.00","COLGADOR CON PARRILLAS.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22COLGADOR%20CON%202%20PARRILLAS%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 83cm hasta 162cm","-ANCHO 83cm hasta 162cm","-PROFUNDIDAD 42cm")
				//+card("COLGADOR DOS PARANTES","EN STOCK S/.65.00","COLGADOR DOS PARANTES.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22COLGADOR%20DOS%20PARANTES%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 83cm hasta 162cm","-ANCHO 83cm hasta 162cm","-PROFUNDIDAD 42cm")
				//+card("ORGANIZADOR DE BAÑO","EN STOCK S/.69.00","ORGANIZADOR DE BAÑO.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ORGANIZADOR%20DE%20BA%C3%91O%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 152cm","-ANCHO 47cm","-PROFUNDIDAD 27cm")
				+card("ESQUINERO DE BAÑO","EN STOCK S/.63.00","ESQUINERO DUCHA NUEVA FOTO.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ESQUINERO%20DE%20BA%C3%91O%22,%20necesito%20m%C3%A1s%20detalles.","CARACTERISTICAS:","-ALTURA MAX 280cm","-ALTURA MIN 100cm","-CUATRO BANDEJAS")
			
	 







