extend pug-componentes/plantilla.pug
block contenidos
	body
		section.banner
		.banner__container
		section(id="articulos")
				+card("Ropero 2 Cuerpos","AGOTADO POR EL MOMENTO","Rop-Tubos-2-Cuerpos.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Ropero%202%20Cuerpos%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Ropero MADERA con Zapatera","1 COLGADOR Y MULTIPLES DIVISIONES","Rop-3C-Madera-MAS-PARRILLAS.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Ropero%20Madera%20con%20Zapatera%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Ropero Esquinero","S/.89.00","Ropero-Esquinero-EST.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Ropero%20Esquinero%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Ropero 2 Colgadores Metal","COMODO Y ESPACIOSO","Ropero-tubos-3-cuerpos.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Ropero%202%20Colgadores%20Metal%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Ropero 3 Cuerpos Mediano","AGOTADO POR EL MOMENTO","Ropero-Mediano-3-Cuerpos.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Ropero%203%20Cuerpos%20Mediano%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Ropero Armable 4 Colgadores","S/.99.00","Rop-4-colgadores.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Ropero%204%20Colgadores%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Zapatera 9,7 y 5 Niveles","ULTIMAS UNIDADES!","Zapateras.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Zapateras%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Ropero Madera 3 Cuerpos","2 COLGADORES Y MULTIPLES ESPACIOS","ROP-MADERA-3-CUERPOS.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Ropero%20Madera%203%20Cuerpos%22,%20necesito%20m%C3%A1s%20detalles.")
			
	 







