
doctype html 
<html lang="es">
html 
	include configuraciones.pug
	body   
		header
			.logo
				h1 MaxiCusco.net
				span 
					img(src="./icons/LOGO_MAXI.png", alt="Logo MaxiCusco")
			nav
				ul 
					li 
						a(href="#roperos") Roperos
					li 
						a(href="#artefactos") Artefactos
					li 
						a(href="#varios") Varios
		main
			section.portada
				picture 
					source(media="(min-width:480px)", srcset="./images/otros/portada-grande.jpg")
					img(src="./images/otros/portada.jpg", alt="portada")
			section.articulos__roperos.articulos#roperos 
				article.articulos__container
					+caja('ROP MADERA 3 CUERPOS.jpg', 'Ropero Armable de Madera', 'Ropero Armable de Madera')
					+detalle('- Tamaño:170cm-135cm-45cm.','-Estructura de Madera','-Parrillas de Madera','-COLORES DISPONIBLES',)
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('Ropero Madera Mas parrillas.jpg','Ropero Armable de Madera','Ropero Armable Mas parrillas')
					+detalle('- Tamaño:170cm-135cm-45cm.','-Estructura de Madera','-Parrillas de Madera','-COLORES DISPONIBLES',)
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('Ropero Esquinero EST.jpg','Ropero Esquinero 4 Cuerpos')
					+detalle('- 170cm x 135cm x 45cm.','- 4 Cuerpos', '- Estructura de Metal en Forma de L') 
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('Rop 4 colgadores.jpg','Ropero Armable de Tubos','Rop','Ropero de Tubos Colgadores',)
					+detalle('- 175cm x 135cm x 45cm.','- Tubos Gruesos', '- Estructura de Metal', '- Estructura de Metal')  
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('roperometal120.jpg','Ropero 3 Cuerpos Mediano')
					+detalle('- 170cm x 120cm x 45cm.','- 1 Colgador y mas compartimentos', '- Estructura de Metal')  
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('roperometal3c105.jpg','Ropero 3 Cuerpos Angosto')
					+detalle('- 170cm x 105cm x 45cm.','- El mas angosto de 3 cuerpos', '- Estructura de Metal')  
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('roperometal2c.jpg','Ropero 2 Cuerpos')
					+detalle('- 170cm x 105cm x 45cm.','- Tamaño Standar', '- Estructura de Metal facil de armar')  
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('zapatera9n2c.jpg','Zapatera 9 Niveles con Cajones')
					+detalle('- 168cm x 60cm x 45cm.','- Trae 2 Cajones en la parte inferior', '- Estructura de metal Fuerte')  
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('zapatera7.jpg','Zapatera 7 Niveles')
					+detalle('- 128cm x 60cm x 45cm.','- Fácil de armar', '- Estructura de metal Fuerte')   
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('zapatera5.jpg','Zapatera 5 Niveles')
					+detalle('- 90cm x 60cm x 45cm.','- El mas portátil.', '- Estructura de metal Fuerte')   
					a(href="#").boton-info Mas Información
			section.articulos__artefactos.articulos#artefactos 
				article.articulos__container
					+caja('batidor con pocillo oster.jpg', 'Batidora con Pocillo Oster')
					+detalle('-240 watts de Potencia', '-1 Año de Garantia', '-5 Velocidades + TURBO')
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('Hervidor Economico.jpg','Hervidor Electrico para Agua')
					+detalle('- Acero Inoxidable', '- 2 Litros de Capacidad', '- Hierve en menos de 3 min')
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('Acero Vidrio X5.jpg','Juego de Ollas Acero','Ollas de Acerox5')
					+detalle('-Tamaños 2.5lts. a 7lts','-Tapa Vidrio Templado','-Asa Acero Recubierto',)
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('Guisera X4.jpg','Juego Ollas Aluminio','Ollas Guiseras')
					+detalle('-Tamaños #18/#24','-Tapas Anodizadas','-MATERIAL DE ALTA PUREZA')
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('Olla Eterna Grande.jpg','Juedo de Ollas Aluminio','olla pesada ETERNA')
					+detalle('-Tamaños #28/#40','-Uso Industrial GRUESAS','-MATERIAL DE ALTA PUREZA')
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('Tetera Teflon.jpg','Tetera Bombi Teflon')
					+detalle('-3 Litros de Capacidad','-Interior con Teflon')
					a(href="#").boton-info Mas Información
			section.articulos__varios.articulos#varios 
				article.articulos__container
					+caja('set te grande.jpg', 'Juego de Te Grande','Te grande')
					+detalle('-Tetera de 1 Litro','-6 Tazas con Platillo','Soporte Metalico Incluido')
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('set te mediano.jpg', 'Juego de Te Mediano','Te mediano')
					+detalle('-Tetera de 600ml','-6 Tazas con Platillo','Soporte Metalico Incluido')
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('Extractor finezza grande.jpg','Extractor finezza grande','Extractor Grande')
					+detalle('-800 Watt de Potencia','-Fruta Entera','Duracion y Fino Acabado')
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('Extractor Oster 600W.jpg','Extractor Oster 600W','Extractor Oster 600w')
					+detalle('-600 Watt de Potencia','-Fruta Entera','1 Año de Garantia')
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('licuadora jhumy.jpg','licuadora jhumy','licuadora jhumy')
					+detalle('-600 Watt de Potencia','-Pica Hielo','1 Año de Garantia')
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('licuadora Oster boton celeste.jpg','licuadora Oster BOTONES')
					+detalle('-550 Watt de Potencia','-Pica Hielo','-1 Año de Garantia')
					a(href="#").boton-info Mas Información
			section.articulos__otros.articulos 
				article.articulos__container
					+caja('licuadora Oster 3V 700W.jpg', 'licuadora Oster Perilla')
					+detalle('-700 Watt de Potencia','-Pica Hielo','-1 Año de Garantia')
					a(href="#").boton-info Mas Información
					
				article.articulos__container
					+caja('licuadora Oster boton Niquel.jpg','licuadora Oster boton Niquel','licuadora Oster boton Niquel')
					+detalle('-550 Watt de Potencia','-Pica Hielo','-1 Año de Garantia','-Cuerpo NIQUELADO')
					a(href="#").boton-info Mas Información
					
				article.articulos__container
					+caja('licuadora Oster REVER 700W.jpg','licuadora Oster REVERSIBLE','Licuadora Rever 700w')
					+detalle('-700 Watt de Potencia','-Pica Hielo','-1 Año de Garantia','-Motor REVERSIBLE')
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('licuadora Oster PRO 700W.jpg','licuadora Oster PROFESIONAL','OSTER PRO')
					+detalle('-700 Watt de Potencia','-Pica Hielo','-1 Año de Garantia','-Motor REFORZADO')
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('licuadora Oster REVER XPERT.jpg','licuadora Oster DIGITAL','licuadora Auto rever')
					+detalle('-600 Watt de Potencia','-Cuchilla XPERT','Programas Automaticos','-1 Año de Garantia')
					a(href="#").boton-info Mas Información
				article.articulos__container
					+caja('Tostadora Record.jpg','Tostadora Record','tostadora record')
					+detalle('-Capacidad 2 panes','-2 Años de Garantia','-7 Niveles de Tostado')
					a(href="#").boton-info Mas Información
		
		footer
			a(href="https://www.facebook.com/110318787411007").boton-facebook 
				p Facebook
				img.icono-facebook(src="./icons/enlace_facebook.png", alt="icono whatsapp").icono-telefono
			a(href="tel:993862663").boton-llamar 
				p Llamar
				img.icono-llamada(src="./icons/telefono.png?20210818", alt="icono telefono").icono-telefono
			a(href="https://wa.me/51986806999?text=%20Hola%20estoy%20interesado%20en%20uno%20de%20los%20productos%20de%20la%20tienda%20quisiera%20los%20precios").boton-wsp 
				p WhatsApp
				img.icono-wsp(src="./icons/Whatsapp.png", alt="icono whatsapp").icono-telefono
			a(href="https://wa.me/51986806999?text=%20Hola%20estoy%20interesado%20en%20uno%20de%20los%20productos%20de%20la%20tienda%20quisiera%20los%20precios").flotante-wsp 
				img.icono-flotante(src="./icons/Whatsapp.png", alt="icono whatsapp").icono-telefono
