extend pug-componentes/plantilla.pug
block contenidos
	body
		section.banner
		.banner__container
		section(id="articulos")
				
				+card("ROPERO CON ZAPATERA MADERA (2-COLGADORES)","ULTIMAS UNIDADES EN STOCK S/149.00","Rop con zapatera2.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ROPERO%20CON%20ZAPATERA%20MADERA%20(2-COLGADORES)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 190cm","-ANCHO 135cm","-PROFUNDIDAD 46cm")
				+card("ROPERO CON ZAPATERA MADERA (2-COLGADORES)","ULTIMAS UNIDADES EN STOCK S/149.00","Rop con zapatera1.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ROPERO%20CON%20ZAPATERA%20MADERA%20(2-COLGADORES)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 190cm","-ANCHO 135cm","-PROFUNDIDAD 46cm")
				+card("ESTRUCTURA DE MADERA (1-COLGADOR)","ULTIMAS UNIDADES EN STOCK S/139.00","Rop-3C-Madera-MAS-PARRILLAS.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ESTRUCTURA%20DE%20MADERA%20(1-COLGADOR)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 170cm","-ANCHO 135cm","-PROFUNDIDAD 46cm")
				+card("ESTRUCTURA DE MADERA (2-COLGADORES)","ULTIMAS UNIDADES EN STOCK S/139.00","ROP-MADERA-3-CUERPOS.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ESTRUCTURA%20DE%20MADERA%20(2-COLGADORES)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 170cm","-ANCHO 135cm","-PROFUNDIDAD 46cm")
				+card("ESTRUCTURA DE TUBOS METAL (2-CUERPOS)","AGOTADO POR EL MOMENTO","Rop-Tubos-2-Cuerpos.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ESTRUCTURA%20DE%20TUBOS%20METAL%20(2-CUERPOS)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 165cm","-ANCHO 105cm","-PROFUNDIDAD 45cm")
				+card("ROPERO ESQUINERO","AGOTADO POR EL MOMENTO","Ropero-Esquinero-EST.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Ropero%20Esquinero%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 165cm","-ANCHO 130cm Y 90cm","-PROFUNDIDAD 45cm")
				+card("ROPERO 2 COLGADORES METAL","EN STOCK S/.89.00","Ropero-tubos-3-cuerpos.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Ropero%202%20Colgadores%20Metal%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 170cm","-ANCHO 130cm","-PROFUNDIDAD 45cm")
				+card("ROPERO MEDIANO TUBOS (3-CUERPOS)","AGOTADO POR EL MOMENTO","Ropero-Mediano-3-Cuerpos.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ROPERO%20MEDIANO%20TUBOS%20(3-CUERPOS)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 165cm","-ANCHO 120cm","-PROFUNDIDAD 45cm")
				+card("ROPERO ARMABLE TUBOS (4-COLGADORES)","ULTIMAS DOS UNIDADES S/.99.00","Rop-4-colgadores.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ROPERO%20ARMABLE%20TUBOS%20(4-COLGADORES)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 170cm","-ANCHO 135cm","-PROFUNDIDAD 45cm")
				+card("ZAPATERAS CON FUNDA DE: (9, 7 y 5 Niveles)","PRECIOS DE LIQUIDACION ULTIMAS UNIDADES!","Zapateras.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ZAPATERAS%20CON%20FUNDA%20DE:%20(9,%207%20y%205%20Niveles)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDAS:","-5 NIVELES PARA 15 PARES","-7 NIVELES PARA 21 PARES","-9 NIVELES PARA 27 PARES")
				
			
	 







