extend pug-componentes/plantilla.pug
block contenidos
	body
		section.banner
		.banner__container
		section(id="articulos")
				
				+card("ROPERO CON ZAPATERA MADERA (2-COLGADORES)","ULTIMAS UNIDADES EN STOCK S/159.00","Rop con zapatera2.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ROPERO%20CON%20ZAPATERA%20MADERA%20(2-COLGADORES)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 190cm","-ANCHO 135cm","-PROFUNDIDAD 46cm")
				+card("ROPERO 4 CUERPOS MADERA (VARIOS-COLGADORES)","ULTIMAS UNIDADES EN STOCK S/159.00","ROPERO 4 CUERPOS.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ROPERO%204%20CUERPOS%20MADERA%20(VARIOS-COLGADORES)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 170cm","-ANCHO 170cm","-PROFUNDIDAD 50cm")
				//+card("ESTRUCTURA DE MADERA (1-COLGADOR)","ULTIMAS UNIDADES EN STOCK S/139.00","Rop-3C-Madera-MAS-PARRILLAS.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ESTRUCTURA%20DE%20MADERA%20(1-COLGADOR)%22,%20necesito%20m%C3%A1s%20detalles.","MEDIDA:","-ALTURA 170cm","-ANCHO 135cm","-PROFUNDIDAD 46cm")
				