extend pug-componentes/plantilla.pug
block contenidos
	body
		section.banner
		.banner__container
		section(id="articulos")
				
				+card("VASO OSTER CUADRADO","S/.45.00 ORIGINAL","web vaso oster cuadrado.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22VASO%20OSTER%20CUADRADO%20PIREX%22,%20necesito%20m%C3%A1s%20detalles.","- CAPACIDAD 1.5 LITROS","- VIDRIO TEMPLADO","- RESISTENTE A LIQUIDOS HIRVIENDO","- APTO PARA PICAR HIELO")
				+card("VASO OSTER CIRCULAR","S/.49.00 ORIGINAL","web vaso oster circular.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22VASO%20OSTER%20CUADRADO%20PIREX%22,%20necesito%20m%C3%A1s%20detalles.","- CAPACIDAD 1.5 LITROS","- VIDRIO TEMPLADO","- RESISTENTE A LIQUIDOS HIRVIENDO","- APTO PARA PICAR HIELO")
				+card("ROSCA OSTER","S/.12.00","web rosca oster.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22ROSCA%20OSTER%22,%20necesito%20m%C3%A1s%20detalles.","- MATERIAL RESISTENTE")
				+card("TAPA CUADRADO OSTER ALTERNATIVA","S/.7.00","web tapa oster.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22TAPA%20CUADRADO%20OSTER%20ALTERNATIVA%22,%20necesito%20m%C3%A1s%20detalles.","- PARA VASO CUADRADO")
				+card("CUCHILLA IMACO CLASICA","S/.13.00","web cuchilla imaco.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22CUCHILLA%20IMACO%20CLASICA%22,%20necesito%20m%C3%A1s%20detalles.","- PARA IMACO DE BOTONES CLASICA","- TAMBIEN LE SIRVE PARA MODELOS DE LICUADORA PARECIDOS")
				+card("CUCHILLA OSTER INOX 4 ASPAS","S/.25.00 ORIGINAL","web cuchilla 4 aspas.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22CUCHILLA%20OSTER%20INOX%204%20ASPAS%22,%20necesito%20m%C3%A1s%20detalles.","- ACERO QUIRURGICO 4 ASPAS","- PICAHIELO","- PARA TODO OSTER","- 100% GARANTIZADO")
				+card("CUCHILLA OSTER INOX 6 ASPAS","S/.35.00 ORIGINAL","web cuchilla 6 aspas.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22CUCHILLA%20OSTER%20INOX%206%20ASPAS%22,%20necesito%20m%C3%A1s%20detalles.","- ACERO QUIRURGICO 6 ASPAS","- PICAHIELO","- PARA TODO OSTER","- 100% GARANTIZADO")
				