:root {
    --one-color: #E80C12;
    --two-color: rgb(235, 64, 64);
    --three-color: rgb(61, 58, 105);
    --four-color: white;
    --five-color: rgb(85, 3, 3);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-wrap: wrap;
}
header{
    width: 100%;
    min-width: 280px;
}
header h1{
    font-size: 3.4rem;
    text-align: center;
    background-color: var(--one-color);
    color: white;
    padding-left: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
main {
    font-size: 1.6rem;
    background-color: var(--four-color);
    height: auto;
    width: 100%;
    min-width: 280px;
    font-family: Arial, Helvetica, sans-serif;
}
main > p {
    color: red;
}
.articulos__cajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

       }
.caja{
    display: flex;
    justify-content: center;
    width: 240px;
    max-width: 50vw;
    height: 280px;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    }
.caja__imagen img{
width: 230px;
}
aside{
    background-color: var(--two-color);
    height: auto;
    width: 100%;
    min-height: 30px;
    color: white;
    font-size: 1.6rem;
    min-width: 280px;
    text-align: center;

}
footer{
    background-color: var(--five-color);
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    color: white;
    min-width: 280px;
}

@media (min-width: 480px){
main {
    min-width: 336px;
    width: 70%;
    height: auto;
}
aside {
    height: auto;
    width: 30%;
    min-width: auto;
}
}