extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section(id="articulos")
				+card("TERMO BIG BOY DOBLE TAZA","1.8Lt S/.42.00 - 1Lt S/37.00","Termo-BIGBOY.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22TERMO%20BIG%20BOY%20DOBLE%20TAZA%20SUPERIOR%22,%20necesito%20m%C3%A1s%20detalles.","- De 1 litro y 1.8 litros","- BUENA DURACION","- ASA AMPLIA","- COLORES DISPONIBLES")
				+card("TERMO CLASICO PLASTICO","1.8Lt S/.29.00 - 1Lt S/22.00","TERMO BASICO.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22TERMO%20CLASICO%20PLASTICO%20DE%201.8%20LITROS%20Y%201%20LITRO%20ECONOMICO%22,%20necesito%20m%C3%A1s%20detalles.","- De 1 litro y 1.8 litros","- DOBLE TAPA SUPERIOR","- VARIOS COLORES","- MODELO ECONOMICO")
				+card("TERMO-JARRA CON FILTRO INTERNO (LIBRE DE ASBESTO)","1.9Lt S/.63.00","termojarra.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22TERMOJARRA%20CON%20DISPENSADOR%20DE%20AGUA%20(LIBRE%20DE%20ASBESTO)%201.9%20litros%22,%20necesito%20m%C3%A1s%20detalles.","- Cuerpo Ext. Acero Inox.","- Pulsador de Abierto y Cerrado.","- CRISTAL EXCLUSIVO LIBRE DE ASBESTO.","- CALIDAD COMPROBADA 100% ")
				+card("TERMO CON DISPENSADOR DE AGUA (LIBRE DE ASBESTO)","1.9Lt S/.105.00 - 2.5Lt S/113.00","termo sifon grunhof.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22TERMO%20CON%20DISPENSADOR%20DE%20AGUA%20(LIBRE%20DE%20ASBESTO)%201.9%20LITROS%20Y%202.5%20LITROS%22,%20necesito%20m%C3%A1s%20detalles.","- Cuerpo Ext. Acero Inox.","- Bomba de Sifon Superior.","- CRISTAL EXCLUSIVO LIBRE DE ASBESTO.","- CALIDAD COMPROBADA 100% ")
				+card("TERMO ACERO QUIRURGICO BUBBA","S/.49.00","termobubba.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22TERMO%20ACERO%20QUIRURGICO%20BUBBA%22,%20necesito%20m%C3%A1s%20detalles.","- ENVASE ERGONOMICO","- ALTA DURACION","- ACERO QUIRURGICO","- LLEVALO DONDE DESEES")
				+card("TAPER ELECTRICO","S/35.00","Taper-Electrico.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22TAPER%20ELECTRICO%22,%20necesito%20m%C3%A1s%20detalles.","- CAPACIDAD 1.5 LITROS","- CALIENTA EN MINUTOS","- COLORES DISPONIBLES","- ENCHUFE CLASICO")
				+card("TERMOS ACERO INOXIDABLE 500ML","S/.19.00","termo-acero.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22TERMOS%20ACERO%20INOXIDABLE%20500ML%22,%20necesito%20m%C3%A1s%20detalles.","- CAPACIDAD 0.5 LITROS","- ACERO INOXIDABLE","- TAPA CON PULSADOR","- COLOR PLATEADO")
				+card("TERMO DE ACERO QUIRURGICO 1000ML","S/.42.00","termo-acero2.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22TERMO%20DE%20ACERO%20QUIRURGICO%201000ML%22,%20necesito%20m%C3%A1s%20detalles.","- CAPACIDAD 1 LITRO","- ACERO QUIRURGICO","- TAPA CON PULSADOR","- COLOR PLATEADO")
				
				
			section.banner
				.banner__container
	 
