extend pug-componentes/plantilla.pug
block contenidos
	body
		main 
			section(id="articulos")
				+card("Termo 2 Litros 24 Horas","S/.39.00","Termo-BIGBOY.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Termo%202%20Litros%2024%20Horas%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Termo Acero Quirúrgico Bubba","49.00","termobubba.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Termo%20Acero%20Quir%C3%BArgico%20Bubba%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Taper Eléctrico","Delivery GRATIS!","Taper-Electrico.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Taper%20El%C3%A9ctrico%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Termos Acero Inóxidable","S/.19.00","termo-acero.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Termos%20Acero%20In%C3%B3xidable%22,%20necesito%20m%C3%A1s%20detalles.")
				+card("Termo Acero Inóxidable 1 Litro","S/.29.00","termo-acero2.jpg","https://api.whatsapp.com/send/?phone=51993862663&text=Hola%20estoy%20interesado%20en%20%22Termo%20Acero%20In%C3%B3xidable%201%20Litro%22,%20necesito%20m%C3%A1s%20detalles.")
				
				
			section.banner
				.banner__container
	 
