script(src="./pixel.js")
noscript(noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1998111467047903&ev=PageView&noscript=1") 
header
    .logo
        img(src="./icons/logo2.png", alt="Logo Maxi Cusco")
        h1 Maxi Cusco
    .menu
        img(src="./icons/menu.png", alt="Menú")